@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Urbanist', sans-serif;
}

.no-select {
	pointer-events: none;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

canvas {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.container {
	position: relative;
	padding: 5rem 5rem 0 5rem;
	width: calc(100vw - 10rem);
	text-align: center;
}

.links {
	display: flex;
	margin: 2rem 0;
	width: 100%;
	justify-content: center;
}

.link {
	margin: 0 10px;
}

h1, h2, i {
	color: #fff;
}

h1 {
	font-size: 80px;
	font-weight: 800;
}

h2 {
	font-size: 30px;
}

i:hover {
	color: #9fffcb;
	transition: 0.2s ease-in-out;
}
